body {
margin: 10;
padding: 40;
min-height: 100vh;
background-image:url(../imagenes/imagen.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position:center;
background-attachment:fixed;

}
body:before {
content:"";
width:100%;
min-height:100vh;
position:fixed;
top:0;
left:0;
 background: linear-gradient(135deg,white 50%,blue 50%);


opacity:0.6;
z-index:-1

}
h1 {
text-align:center;
}

p {
font-weight:bold;
text-align:justify;
}